.projectSection {
  display: flex;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.projectWindow {
  display: flex;
  flex-direction: column;
  width: 1056px;
  flex: 0 0 calc(56% - 1rem);
  background-color: #2727bb;
  border-radius: 8px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
}

.projectList {
  display: flex;
  flex-wrap: wrap;
  align-self: center;
  gap: 1rem;
  padding: 2rem;
}

.title {
  text-align: center;
  font-weight: bold;
  padding-top: 10px;
}

/* .projectImage {
  flex: 0 0 calc(33.333% - 1rem);
  background-color: #e0e0e0;
  padding: 1rem;
  text-align: center;
  box-sizing: border-box;
  border: 1px solid #ccc;
}

.buttonList {
  width: 200px;
  background-color: gray;
  padding: 1rem;
  margin-left: 200px;
  box-shadow: 2px 0 5px rgba(224, 221, 221, 0.1);
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  gap: 1rem;
} */
